# Environment files
.env
*.env
.env.*
**/.env
**/*.env
.env.local
.env.*.local

# Data folders
data/
Data/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*